<section>
  <h3>¿Nos ayudas a crearlo?</h3>
  <p>Te invitamos a que nos ayudes a crear este estándar contribuyendo con preguntas que le harías a los programas electorales. Dichas preguntas nos permitirán tener una visión más clara de qué problemas les importa a la ciudadanía y cómo ella se expresa.</p>
  <footer>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfDAo5lrcVbcklr16O_Sb7ghiUYIOjkIiel3BtKMTy8t5pKcg/viewform" target="_blank" class="button">Accede al formulario</a>
  </footer>
</section>

