<section>
  <h3>¿Nos ayudas a crearlo?</h3>
  <p>Te invitamos a que nos ayudes a crear este estándar, valorando la información que proponemos que los partidos políticos aporten sobre sus propuestas electorales. Tus respuestas nos permitirán tener una visión más clara de qué información necesita la ciudadanía para ejercer el derecho a la rendición de cuentas.</p>
  <footer>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScZHaGmVt3yCZT4k5WuOmBtHArtv_ahK-2OH3S_q2meSYMTGw/viewform" target="_blank" class="button">Accede al formulario</a>
  </footer>
</section>

