<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <!-- <div class="col&#45;3 col&#45;6&#45;medium col&#45;12&#45;small"> -->
      <!--  -->
      <!--   <!&#45;&#45; Links &#45;&#45;> -->
      <!--   <section class="widget links"> -->
      <!--     <h3>Random Stuff</h3> -->
      <!--     <ul class="style2"> -->
      <!--       <li><a href="#">Etiam feugiat condimentum</a></li> -->
      <!--       <li><a href="#">Aliquam imperdiet suscipit odio</a></li> -->
      <!--       <li><a href="#">Sed porttitor cras in erat nec</a></li> -->
      <!--       <li><a href="#">Felis varius pellentesque potenti</a></li> -->
      <!--       <li><a href="#">Nullam scelerisque blandit leo</a></li> -->
      <!--     </ul> -->
      <!--   </section> -->
      <!--  -->
      <!-- </div> -->
      <!-- <div class="col&#45;3 col&#45;6&#45;medium col&#45;12&#45;small"> -->
      <!--  -->
      <!--   <!&#45;&#45; Links &#45;&#45;> -->
      <!--   <section class="widget links"> -->
      <!--     <h3>Random Stuff</h3> -->
      <!--     <ul class="style2"> -->
      <!--       <li><a href="#">Etiam feugiat condimentum</a></li> -->
      <!--       <li><a href="#">Aliquam imperdiet suscipit odio</a></li> -->
      <!--       <li><a href="#">Sed porttitor cras in erat nec</a></li> -->
      <!--       <li><a href="#">Felis varius pellentesque potenti</a></li> -->
      <!--       <li><a href="#">Nullam scelerisque blandit leo</a></li> -->
      <!--     </ul> -->
      <!--   </section> -->
      <!--  -->
      <!-- </div> -->
      <!-- <div class="col&#45;3 col&#45;6&#45;medium col&#45;12&#45;small"> -->
      <!--  -->
      <!--   <!&#45;&#45; Links &#45;&#45;> -->
      <!--   <section class="widget links"> -->
      <!--     <h3>Random Stuff</h3> -->
      <!--     <ul class="style2"> -->
      <!--       <li><a href="#">Etiam feugiat condimentum</a></li> -->
      <!--       <li><a href="#">Aliquam imperdiet suscipit odio</a></li> -->
      <!--       <li><a href="#">Sed porttitor cras in erat nec</a></li> -->
      <!--       <li><a href="#">Felis varius pellentesque potenti</a></li> -->
      <!--       <li><a href="#">Nullam scelerisque blandit leo</a></li> -->
      <!--     </ul> -->
      <!--   </section> -->
      <!--  -->
      <!-- </div> -->
      <div class="col-12 col-12-medium col-12-small">

        <!-- Contact -->
        <section class="widget contact last" style="text-align: center;">
          <h3>Contáctanos</h3>
          <ul>
            <li><a href="https://twitter.com/Open_Manifesto" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/open_manifesto/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/open-manifesto-project" class="icon fa-github"><span class="label">Github</span></a></li>
          </ul>
        </section>

      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="image fit" href="#">
          <img src="/assets/images/bandalogos.png" alt="">
        </a>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div id="copyright">
          <ul class="menu">
            <li><i class="fa fa-cc"></i> Open Manifesto Project. Algunos derechos reservados</li><li>Diseño: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
