
<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a href="/"><img src="/assets/images/open-manifesto-project_horizontal.png" alt="Logo de <%= global.sitename %>" height="25px"></a></h1>
      <!-- <span></span> -->
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li>
          <a href="/open-manifesto">Open Manifesto</a>
          <ul>
            <li><a href="/open-manifesto#definicion">Definición</a></li>
            <li><a href="/open-manifesto#como-se-consigue">¿Cómo se consigue?</a></li>
            <li><a href="/open-manifesto#ultima-version">Última versión</a></li>
          </ul>
        </li>
        <li>
          <a href="/proceso">Proceso</a>
          <ul>
            <li><a href="/proceso#metodologia">Metodología</a></li>
            <li><a href="/proceso#gobernanza">Gobernanza</a></li>
            <li><a href="/proceso#apoyos">Apoyos</a></li>
            <li><a href="/proceso#adopcion">Adopción</a></li>
            <li><a href="/proceso#documentacion">Documentación</a></li>
            <li><a href="/proceso#seguimiento">Seguimiento</a></li>
          </ul>
        </li>
        <li><a href="/apps">Apps</a></li>
        <li>
          <a href="/quienes-somos">Quiénes somos</a>
          <ul>
            <li><a href="/quienes-somos#mision">Mision</a></li>
            <li><a href="/quienes-somos#principios">Principios</a></li>
            <li><a href="/quienes-somos#partners">Partners</a></li>
            <li><a href="/quienes-somos#equipo">Equipo</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </header>
</div>
