<section class="widget thumbnails">
  <div class="grid">
    <div class="row gtr-50">
      <div class="col-3"><a href="https://www.oxfamintermon.org/" target="_blank" class="image fit"><img src="/assets/images/orgs/oxfam.png" alt="" /></a></div>
      <div class="col-3"><a href="https://es.greenpeace.org/es/" target="_blank" class="image fit"><img src="/assets/images/orgs/greenpeace.png" alt="" /></a></div>
      <div class="col-3"><a href="https://fundaciohortasud.org/" target="_blank" class="image fit"><img src="/assets/images/orgs/fhs.png" alt="" /></a></div>
      <div class="col-3"><a href="https://www.acicom.org/" target="_blank" class="image fit"><img src="/assets/images/orgs/acicom.png" alt="" /></a></div>
      <div class="col-3"><a href="http://fentestudi.com/" target="_blank" class="image fit"><img src="/assets/images/orgs/fent-estudi.png" alt="" /></a></div>
      <div class="col-3"><a href="https://webmesura.org/" target="_blank" class="image fit"><img src="/assets/images/orgs/mesura.png" alt="" /></a></div>
      <div class="col-3"><a href="https://observatoricorrupcio.org/es/" target="_blank" class="image fit"><img src="/assets/images/orgs/occc.png" alt="" /></a></div>
    </div>
  </div>
  <!-- <a href="#" class="button">Ver más</a> -->
</section>

