<section class="widget thumbnails">
  <h3>Conoce al equipo</h3>
  <div class="grid">
    <div class="row gtr-50">
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/diegoalsan.jpg" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/pr3ssh.jpg" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/javipe.jpg" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/belen.jpg" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/sebas.png" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/irene.jpg" alt="" /></a></div>
      <div class="col-4"><a href="#" class="image fit"><img src="/assets/images/team/davidpardo.jpg" alt="" /></a></div>
    </div>
  </div>
  <!-- <a href="#" class="button">Ver más</a> -->
</section>
