<section class="widget thumbnails">
  <h3>Conoce al equipo</h3>
  <div class="grid">
    <div class="row gtr-50">
      <div class="col-4"><a href="https://twitter.com/diegoalsan" class="image fit" target="_blank"><img src="/assets/images/team/diegoalsan.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://ciecode.es/quienes-somos/pablo-martin/" class="image fit" target="_blank"><img src="/assets/images/team/pr3ssh.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://ciecode.es/quienes-somos/javier-perez/" class="image fit" target="_blank"><img src="/assets/images/team/javipe.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://ciecode.es/quienes-somos/belen-aguero/" class="image fit" target="_blank"><img src="/assets/images/team/belen.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://github.com/sebspal" class="image fit" target="_blank"><img src="/assets/images/team/sebas.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://ciecode.es/quienes-somos/irene-martin/" class="image fit" target="_blank"><img src="/assets/images/team/irene.jpg" alt="" /></a></div>
      <div class="col-4"><a href="https://twitter.com/davidpardo" class="image fit" target="_blank"><img src="/assets/images/team/davidpardo.jpg" alt="" /></a></div>
    </div>
  </div>
  <!-- <a href="#" class="button">Ver más</a> -->
</section>
