<% include common/start %>

<% include common/header %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">

          <!-- Content -->
          <article>

            <h2>Aplicaciones</h2>

            <!-- Features -->
            <div id="features-wrapper">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-12-medium">
                    <!-- Box -->
                    <section class="box feature">
                      <a href="http://fundamento.openmanifestoproject.org" target="_blank" class="image featured"><img src="/assets/images/apps/fundamento.png" alt="" /></a>
                      <div class="inner">
                        <header>
                          <h2>FUNDAMENTO</h2>
                          <p>Asistente virtual de programas electorales</p>
                        </header>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      <div class="col-4 col-12-medium">
        <div id="sidebar">

          <!-- Sidebar -->
          
          <% include common/filltheform %>

          <% include common/team %>


        </div>
      </div>
    </div>
  </div>
</div>

<% include common/footer %>

<% include common/end %>


