<% include common/start %>

<% include common/header %>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container" style="background: transparent;">
    <div class="row">
      <div class="col-12 col-12-medium">
        <h2>Conoce Open Manifesto</h2>
        <p>El estándar de programas electorales centrado en la ciudadanía</p>
      </div>
      <div class="col-12 col-12-medium">
        <a href="#" class="button">Saber más</a>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<!-- <div id="features&#45;wrapper"> -->
<!--   <div class="container"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;4 col&#45;12&#45;medium"> -->
<!--  -->
<!--         <!&#45;&#45; Box &#45;&#45;> -->
<!--         <section class="box feature"> -->
<!--           <div class="inner"> -->
<!--             <header> -->
<!--               <h2>Put something here</h2> -->
<!--               <p>Maybe here as well I think</p> -->
<!--             </header> -->
<!--             <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p> -->
<!--           </div> -->
<!--         </section> -->
<!--  -->
<!--       </div> -->
<!--       <div class="col&#45;4 col&#45;12&#45;medium"> -->
<!--  -->
<!--         <!&#45;&#45; Box &#45;&#45;> -->
<!--         <section class="box feature"> -->
<!--           <div class="inner"> -->
<!--             <header> -->
<!--               <h2>An interesting title</h2> -->
<!--               <p>This is also an interesting subtitle</p> -->
<!--             </header> -->
<!--             <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p> -->
<!--           </div> -->
<!--         </section> -->
<!--  -->
<!--       </div> -->
<!--       <div class="col&#45;4 col&#45;12&#45;medium"> -->
<!--  -->
<!--         <!&#45;&#45; Box &#45;&#45;> -->
<!--         <section class="box feature"> -->
<!--           <div class="inner"> -->
<!--             <header> -->
<!--               <h2>Oh, and finally ...</h2> -->
<!--               <p>Here's another intriguing subtitle</p> -->
<!--             </header> -->
<!--             <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p> -->
<!--           </div> -->
<!--         </section> -->
<!--  -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<!-- Main -->
<!-- <div id="main&#45;wrapper"> -->
<!--   <div class="container"> -->
<!--     <div class="row gtr&#45;200"> -->
<!--       <div class="col&#45;4 col&#45;12&#45;medium"> -->
<!--  -->
<!--         <!&#45;&#45; Sidebar &#45;&#45;> -->
<!--         <div id="sidebar"> -->
<!--           <section class="widget thumbnails"> -->
<!--             <h3>Interesting stuff</h3> -->
<!--             <div class="grid"> -->
<!--               <div class="row gtr&#45;50"> -->
<!--                 <div class="col&#45;6"><a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a></div> -->
<!--                 <div class="col&#45;6"><a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a></div> -->
<!--                 <div class="col&#45;6"><a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a></div> -->
<!--                 <div class="col&#45;6"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div> -->
<!--               </div> -->
<!--             </div> -->
<!--             <a href="#" class="button icon fa&#45;file&#45;text&#45;o">More</a> -->
<!--           </section> -->
<!--         </div> -->
<!--  -->
<!--       </div> -->
<!--       <div class="col&#45;8 col&#45;12&#45;medium imp&#45;medium"> -->
<!--  -->
<!--         <!&#45;&#45; Content &#45;&#45;> -->
<!--         <div id="content"> -->
<!--           <section class="last"> -->
<!--             <h2>So what's this all about?</h2> -->
<!--             <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>. -->
<!--             Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p> -->
<!--             <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p> -->
<!--             <a href="#" class="button icon fa&#45;arrow&#45;circle&#45;right">Continue Reading</a> -->
<!--           </section> -->
<!--         </div> -->
<!--  -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

<% include common/footer %>

<% include common/end %>
