<% include common/start %>

<% include common/header %>

<!-- Banner -->
<div id="banner-wrapper">
  <div id="banner" class="box container" style="background: transparent;">
    <div class="row">
      <div class="col-12 col-12-medium">
        <h2>Conoce Open Manifesto</h2>
        <p>El estándar de programas electorales centrado en la ciudadanía</p>
      </div>
      <div class="col-12 col-12-medium">
        <a href="open-manifesto" class="button">Saber más</a>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-4 col-12-medium">
        <!-- Box -->
        <section class="box feature">
          <div class="inner">
            <header>
              <h2>Empoderamiento</h2>
            </header>
            <p>La transición a sociedades social y políticamente justas requiere la adquisición y generación de poder por parte de la ciudadanía para decidir sobre sus propias vidas y participar en decisiones colectivas que les afectan.</p>
          </div>
        </section>
      </div>
      <div class="col-4 col-12-medium">
        <!-- Box -->
        <section class="box feature">
          <div class="inner">
            <header>
              <h2>Rendición de cuentas</h2>
            </header>
            <p>La rendición de cuentas es un derecho de la ciudadanía, una obligación de los partidos políticos en el gobierno y la oposición y un elemento esencial de los sistemas democráticos eficaces.</p>
          </div>
        </section>
      </div>
      <div class="col-4 col-12-medium">
        <!-- Box -->
        <section class="box feature">
          <div class="inner">
            <header>
              <h2>Tecnología cívica</h2>
            </header>
            <p>La tecnología cívica puede constituir una aliada esencial en el desarrollo de soluciones que faciliten el voto informado de la ciudadanía.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Promotion -->
<div id="promote-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <section class="last">
            <h3>Habla con los programas electorales</h3>
            <div style="text-align: center">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/pB1XV_OF6MI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </section>
      </div>
    </div>
  </div>
</div>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Content -->
        <div id="content">
          <section class="last">
            <h3>Ya han apoyado esta iniciativa...</h3>
            <% include common/orgs-gallery %>
            <a href="/proceso#apoyos" class="button">Apoya la iniciativa</a>
          </section>
        </div>

      </div>
    </div>
  </div>
</div>

<% include common/footer %>

<% include common/end %>
