<% include common/start %>

<% include common/header %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">

          <!-- Content -->
          <article>

            <h2>¿Qué es Open Manifesto?</h2>

            <h3 id="definicion">Definición</h3>
            

            <p>Open Manifesto es un estándar abierto para programas electorales. Un formato estructurado para los programas de los partidos políticos que facilita su comprensión y la rendición de cuentas a la ciudadanía.</p>

            <h3 id="como-se-consigue">¿Cómo se consigue?</h3>
            <ul>
              <li>Dando el mismo formato y la misma estructura a los programas de todos los partidos, para que sea más fácil compararlos.</li>
              <li>Organizando de forma explícita y concreta las propuestas de los partidos políticos por temas. De esta forma, facilitando conocer la posición de los partidos sobre el tema que te interese y qué propuestas tiene al respecto y podrás tomar decisiones más informadas.</li>
              <li>Señalando qué importancia dan los partidos a cada una de sus propuestas. Podrás saber, por ejemplo, cuáles son sus “líneas rojas” o cuáles de sus propuestas implementarán antes o después.</li>
              <li>Dando a los programas un formato abierto y de fácil acceso. La información de los programas está disponible para cualquiera, en cualquier momento (también después de las elecciones), para su consulta o reutilización con otros fines.</li>
              <li>Haciendo de los programas electorales un instrumento manejable y accesible para la ciudadanía, no sólo para los partidos políticos.</li>
              <li>Mejorando la capacidad de cooperación y diálogo entre partidos políticos, administraciones públicas, agentes sociales y ciudadanía.</li>
              <li>Permitiendo la interconexión de los programas electorales con otras informaciones relacionadas con la actividad política.</li>
            </ul>

            <h3 id="ultima-version">Última versión</h3>
            <p>La versión actual de OM con la que estamos trabajando es la v0.1. El conjunto de especificaciones se implementa mediante un archivo JSON en el que se recogen los atributos distribuidos, que caracterizan tanto al programa electoral como a las propuestas que contiene. Los tipos definidos para los atributos se corresponden con los establecidos por schema.org.</p>
            <p><a href="https://github.com/open-manifesto-project/Open-Manifesto/blob/master/Standard/OpenManifestoV0.1.schema.json" target="_blank">Consulta la estructura de atributos de la versión OM v0.1</a></p>
            

          </article>

        </div>
      </div>
      <div class="col-4 col-12-medium">
        <div id="sidebar">

          <!-- Sidebar -->
          
          <% include common/filltheform %>

          <% include common/team %>

        </div>
      </div>
    </div>
  </div>
</div>

<% include common/footer %>

<% include common/end %>
