<% include common/start %>

<% include common/header %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">

          <!-- Content -->
          <article>

            <h2>¿Qué es Open Manifesto?</h2>

            <h3 id="definicion">Definición</h3>
            

            <p>Open Manifesto es un estándar abierto para programas electorales. Un formato estructurado para los programas de los partidos políticos que facilita su comprensión y la rendición de cuentas a la ciudadanía.</p>

            <h3 id="como-se-consigue">¿Cómo se consigue?</h3>
            <ul>
              <li>Dando el mismo formato y la misma estructura a los programas de todos los partidos, para que sea más fácil compararlos.</li>
              <li>Organizando de forma explícita y concreta las propuestas de los partidos políticos por temas. De esta forma, facilitando conocer la posición de los partidos sobre el tema que te interese y qué propuestas tiene al respecto y podrás tomar decisiones más informadas.</li>
              <li>Señalando qué importancia dan los partidos a cada una de sus propuestas. Podrás saber, por ejemplo, cuáles son sus “líneas rojas” o cuáles de sus propuestas implementarán antes o después.</li>
              <li>Dando a los programas un formato abierto y de fácil acceso. La información de los programas está disponible para cualquiera, en cualquier momento (también después de las elecciones), para su consulta o reutilización con otros fines.</li>
              <li>Haciendo de los programas electorales un instrumento manejable y accesible para la ciudadanía, no sólo para los partidos políticos.</li>
              <li>Mejorando la capacidad de cooperación y diálogo entre partidos políticos, administraciones públicas, agentes sociales y ciudadanía.</li>
              <li>Permitiendo la interconexión de los programas electorales con otras informaciones relacionadas con la actividad política.</li>
            </ul>

            <h3 id="ultima-version">Última versión</h3>
            <p>La versión actual de OM con la que estamos trabajando es la v1.0. En ella se incluyen los atributos para caracterizar al programa electoral y a las propuestas que contiene.</p>
            <h5>PROGRAMA ELECTORAL</h5>
            <p>
            <ul>
              <li>Nombre del partido político</li>
              <li>Título</li>
              <li>Fecha de publicación</li>
              <li>Fecha contienda electoral para la que ha sido elaborado el programa</li>
              <li>Tipo de contienda electoral (europeas, nacional, autonómica o municipal)</li>
              <li>Área geográfica (nombre del país, de la autonomía o del municipio)</li>
              <li>Versión del estándar bajo la que se publica el programa</li>
              <li>URI (identificador de recursos uniforme) para la versión estandarizada del programa</li>
              <li>Número de páginas</li>
              <li>Número de propuestas</li>
              <li>Listado de propuestas</li>
            </ul>
            <h5>PROPUESTAS</h5>
            <p>
              <ul>
                <li>Identificador numérico</li>
                <li>Texto de la propuesta</li>
                <li>Tema principal sobre la que versa la propuesta siguiendo la taxonomía propuesta en la Norma Técnica de Interoperabilidad de España</li>
                <li>Lista de subtemas específicos abordados en la propuesta</li>
                <li>Prioridad asignada por el partido político (baja, media, alta, N/A)</li>
                <li>Presupuesto establecido para el desarrollo de la propuesta</li>
                <li>Indicador de si la propuesta es negociable</li>
                <li>Lista de agentes incluidos o mencionados en la propuesta</li>
              </ul>
            </p>
            <p><a class="button" href="https://github.com/open-manifesto-project/Open-Manifesto/blob/master/Standard/OpenManifestoV1.0.schema.json" target="_blank">Accede a OM v1.0</a></p>
            </p>
          </article>

        </div>
      </div>
      <div class="col-4 col-12-medium">
        <div id="sidebar">

          <!-- Sidebar -->
          
          <% include common/filltheform %>

          <% include common/team %>

        </div>
      </div>
    </div>
  </div>
</div>

<% include common/footer %>

<% include common/end %>
