<% include common/start %>

<% include common/header %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-8 col-12-medium">
        <div id="content">

          <!-- Content -->
          <article>

            <h2>Proceso de desarrollo</h2>

            <h3>Metodología</h3>

            <p>
              El proceso de creación del estándar sigue las siguientes pautas:
              <ol>
                <li>la colaboración entre las partes interesadas,</li>
                <li>el diseño centrado en la ciudadanía,</li>
                <li>la transparencia en los procesos de toma de decisiones, y</li>
                <li>un procedimiento de recepción de aportaciones y ratificación pública que garantice la calidad.</li>
              </ol>
            </p>

            <p>
              El proceso se concreta en un modelo de desarrollo iterativo compuesto por las siguientes fases:
              <ul class="style2">
                <li>
                  <strong>Fase I: Estudio y análisis</strong>
                  <p>Así, a través de jornadas de trabajo, entrevistas presenciales y en línea con partidos políticos, agentes sociales y ciudadanía, se determinan y catalogan las necesidades de información en relación a los programas y propuestas electorales y se desarrollan una serie de casos de uso que sirven de guía para la creación y adopción del estándar.</p>
                </li>
                <li>
                  <strong>Fase II: Propuesta y viabilidad</strong>
                  <p>A partir de la información generada, se definen la estructura y los atributos a incluir en el estándar abierto. Cada una de las propuestas se evalúa por el equipo técnico para concretar el tipo de datos que corresponde utilizar y la viabilidad de generar la información necesaria de forma automática. Igualmente, se resuelve la adaptación incremental sobre la versión anterior.</p>
                </li>
                <li>
                  <strong>Fase III: Validación</strong>
                  <p>Superada la etapa de propuesta y viabilidad se genera y documenta la nueva versión del estándar abierto en formato JSON Schema. Se inicia en ese momento un proceso de validación por las partes implicadas.</p>
                </li>
                <li>
                  <strong>Fase IV: Publicación</strong>
                  <p>Superada la fase de validación, se publica la nueva versión junto a la documentación generada. Toda la información generada se publica bajo licencia abierta, sin dependencias a otros estándares que no sean abiertos y libre de cláusulas legales o técnicas que limiten su uso en cualquier ámbito.</p>
                </li>
              </ul>
            </p>
            
            <h3>Gobernanza</h3>

            <p>La definición de OM está sujeta a evaluación pública y es administrado, desarrollado y ratificado a través de un proceso transparente y abierto a la participación equitativa de partidos políticos, agentes sociales y ciudadanía.</p>

            <p>La información generada en las diferentes interacciones con las partes implicadas es documentada y sometida a revisión. Igualmente, se registran de manera formal las adhesiones a las versiones publicadas.</p>


            <h3>Apoyo</h3>

            <p>La participación activa de los agentes sociales se complementa con el respaldo público a la iniciativa Open Manifesto Project (OMP). La adhesión está abierta a cualquier organización o persona que quiera mostrar su apoyo a la iniciativa OMP. Los agentes sociales, ciudadanos y ciudadanas que apoyan la iniciativa muestran su respaldo a su misión, objetivos y metodología de trabajo. A su vez, reconocen su voluntad de contribuir al proceso abierto para su creación y difusión. Asimismo, animan a las formaciones políticas a adoptar el estándar abierto Open Manifesto.</p>

            <p>Ver la lista de organizaciones e individuos que han mostrado su apoyo a OMP.</p>

            <p>
              Se espera que las personas e instituciones que apoyan la iniciativa OMP se comprometan a:
              <ul>
                <li>Fomentar la adopción del estándar abierto OM entre las formaciones políticas.</li>
                <li>Realizar aportaciones al proceso de desarrollo iterativo del estándar abierto.</li>
                <li>Promocionar el conocimiento y uso de las soluciones tecnológicas del ecosistema OMP.</li>
                <li>Hacer pública la adhesión, como ejercicio de transparencia y muestra de la legitimación social del proyecto.</li>
              </ul>
              
            </p>
            
            <h3>Adopción</h3>

            <p>Las formaciones políticas pueden adoptar el estándar OM. Ello implica  su participación en el proceso de desarrollo del estándar y la publicación de sus programas electorales siguiendo la última versión consolidada del estándar abierto. </p>
            
            <h3>Documentación</h3>

            <p>El sitio web con la documentación del Open Manifesto Project recoge los últimos avances en el desarrollo del estándar abierto. Da acceso a la última versión de la especificación y recoge el resultado de las interacciones con los diferentes agentes.</p>

            <h3>Seguimiento</h3>

            <p>En lo que llevamos de proceso, hemos realizado talleres cicon diferentes agentes sociales y ciudadanía en general en Madrid, Barcelona y Valencia.</p>

            <div class="grid">
              <div class="row gtr-50">
                <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/events/MAD1.jpg" alt="" /></a></div>
                <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/events/MAD2.jpg" alt="" /></a></div>
                <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/events/BCN1.jpg" alt="" /></a></div>
                <div class="col-6"><a href="#" class="image fit"><img src="/assets/images/events/VLC1.jpg" alt="" /></a></div>
              </div>
            </div>

            
            
            
            
            
            
            
            
            
            

          </article>

        </div>
      </div>
      <div class="col-4 col-12-medium">
        <div id="sidebar">

          <!-- Sidebar -->
          
          <% include common/filltheform %>

          <% include common/team %>

        </div>
      </div>
    </div>
  </div>
</div>

<% include common/footer %>

<% include common/end %>

